body {
	background-color: black;
}

h1 {
	font-size: 20px;
}

p {
	font-size: 12px;
	color: green;
}

div.munDiv {
	border: 2px dotted;
	height: 100px;
    width: 100px;
}

ol {
	list-style-type: lower-alpha;
	
}

ul {
	list-style-type: square;
}